In [28]:
import pandas as pd
import datetime as dt
from sqlalchemy import create_engine

In [29]:
engine = create_engine('postgresql://localhost:5432/ETL Project')
connection = engine.connect()

OperationalError: (psycopg2.OperationalError) fe_sendauth: no password supplied

(Background on this error at: http://sqlalche.me/e/e3q8)

In [2]:
TSLA_data = pd.read_csv("TSLA.csv")
Tweet_data = pd.read_csv("data_elonmusk_before.csv", encoding='iso-8859-1')

In [3]:
Tweet_data.head()

,row ID,Tweet,Time,Retweet from,User
0,Row0,@MeltingIce Assuming max acceleration of 2 to ...,9/29/2017 17:39,NaN,elonmusk
1,Row1,RT @SpaceX: BFR is capable of transporting sat...,9/29/2017 10:44,SpaceX,elonmusk
2,Row2,@bigajm Yup :),9/29/2017 10:39,NaN,elonmusk
3,Row3,Part 2 https://t.co/8Fvu57muhM,9/29/2017 9:56,NaN,elonmusk
4,Row4,Fly to most places on Earth in under 30 mins a...,9/29/2017 9:19,NaN,elonmusk

In [4]:
TSLA_data.head()

         Date       Open       High        Low      Close  Adj Close   Volume
0  2013-01-02  35.000000  35.450001  34.709999  35.360001  35.360001  1194800
1  2013-01-03  35.180000  35.450001  34.750000  34.770000  34.770000   742000
2  2013-01-04  34.799999  34.799999  33.919998  34.400002  34.400002   674000
3  2013-01-07  34.799999  34.799999  33.900002  34.340000  34.340000   442000
4  2013-01-08  34.500000  34.500000  33.110001  33.680000  33.680000  1284000

In [5]:
Tweet_data["Retweet from"].fillna("Not Retweeted", inplace = True)
Tweet_data.head(20)

,row ID,Tweet,Time,Retweet from,User
0,Row0,@MeltingIce Assuming max acceleration of 2 to ...,9/29/2017 17:39,Not Retweeted,elonmusk
1,Row1,RT @SpaceX: BFR is capable of transporting sat...,9/29/2017 10:44,SpaceX,elonmusk
2,Row2,@bigajm Yup :),9/29/2017 10:39,Not Retweeted,elonmusk
3,Row3,Part 2 https://t.co/8Fvu57muhM,9/29/2017 9:56,Not Retweeted,elonmusk
4,Row4,Fly to most places on Earth in under 30 mins a...,9/29/2017 9:19,Not Retweeted,elonmusk
5,Row5,RT @SpaceX: Supporting the creation of a perma...,9/29/2017 8:57,SpaceX,elonmusk
6,Row6,BFR will take you anywhere on Earth in less th...,9/29/2017 8:53,Not Retweeted,elonmusk
7,Row7,Mars City\nOpposite of Earth. Dawn and dusk sk...,9/29/2017 6:03,Not Retweeted,elonmusk
8,Row8,Moon Base Alpha https://t.co/voY8qEW9kl,9/29/2017 5:44,Not Retweeted,elonmusk
9,Row9,Will be announcing something really special at...,9/29/2017 2:36,Not Retweeted,elonmusk
10,Row10,"RT @SpaceX: Nine years ago today, Falcon 1 bec...",9/29/2017 2:32,SpaceX,elonmusk
11,Row11,#NAME?,9/28/2017 22:44,Not Retweeted,elonmusk
12,Row12,#NAME?,9/28/2017 7:53,Not Retweeted,elonmusk
13,Row13,RT @mayemusk: .@covergirl I'm so excited to sa...,9/28/2017 7:53,mayemusk,elonmusk
14,Row14,Prev ideas for paying ~$10B dev cost incl. Kic...,9/27/2017 3:18,Not Retweeted,elonmusk
15,Row15,Headed to Adelaide soon to describe new BFR pl...,9/27/2017 3:03,Not Retweeted,elonmusk
16,Row16,"@El_Deano @Daimler @Jalopnik Yes, I did :)",9/26/2017 15:04,Not Retweeted,elonmusk
17,Row17,Good NYT article from several years ago about ...,9/26/2017 5:39,Not Retweeted,elonmusk
18,Row18,#NAME?,9/26/2017 3:13,Not Retweeted,elonmusk
19,Row19,Simulation of how the SpaceX Interplanetary Sp...,9/26/2017 3:11,Not Retweeted,elonmusk

In [6]:
TSLA_data.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [7]:
Tweet_data.dtypes

row ID          object
Tweet           object
Time            object
Retweet from    object
User            object
dtype: object

In [8]:
Tweet_data['Date'] = pd.to_datetime(Tweet_data['Time']).dt.date

In [9]:
Tweet_data.head(30)

,row ID,Tweet,Time,Retweet from,User,Date
0,Row0,@MeltingIce Assuming max acceleration of 2 to ...,9/29/2017 17:39,Not Retweeted,elonmusk,2017-09-29
1,Row1,RT @SpaceX: BFR is capable of transporting sat...,9/29/2017 10:44,SpaceX,elonmusk,2017-09-29
2,Row2,@bigajm Yup :),9/29/2017 10:39,Not Retweeted,elonmusk,2017-09-29
3,Row3,Part 2 https://t.co/8Fvu57muhM,9/29/2017 9:56,Not Retweeted,elonmusk,2017-09-29
4,Row4,Fly to most places on Earth in under 30 mins a...,9/29/2017 9:19,Not Retweeted,elonmusk,2017-09-29
5,Row5,RT @SpaceX: Supporting the creation of a perma...,9/29/2017 8:57,SpaceX,elonmusk,2017-09-29
6,Row6,BFR will take you anywhere on Earth in less th...,9/29/2017 8:53,Not Retweeted,elonmusk,2017-09-29
7,Row7,Mars City\nOpposite of Earth. Dawn and dusk sk...,9/29/2017 6:03,Not Retweeted,elonmusk,2017-09-29
8,Row8,Moon Base Alpha https://t.co/voY8qEW9kl,9/29/2017 5:44,Not Retweeted,elonmusk,2017-09-29
9,Row9,Will be announcing something really special at...,9/29/2017 2:36,Not Retweeted,elonmusk,2017-09-29
10,Row10,"RT @SpaceX: Nine years ago today, Falcon 1 bec...",9/29/2017 2:32,SpaceX,elonmusk,2017-09-29
11,Row11,#NAME?,9/28/2017 22:44,Not Retweeted,elonmusk,2017-09-28
12,Row12,#NAME?,9/28/2017 7:53,Not Retweeted,elonmusk,2017-09-28
13,Row13,RT @mayemusk: .@covergirl I'm so excited to sa...,9/28/2017 7:53,mayemusk,elonmusk,2017-09-28
14,Row14,Prev ideas for paying ~$10B dev cost incl. Kic...,9/27/2017 3:18,Not Retweeted,elonmusk,2017-09-27
15,Row15,Headed to Adelaide soon to describe new BFR pl...,9/27/2017 3:03,Not Retweeted,elonmusk,2017-09-27
16,Row16,"@El_Deano @Daimler @Jalopnik Yes, I did :)",9/26/2017 15:04,Not Retweeted,elonmusk,2017-09-26
17,Row17,Good NYT article from several years ago about ...,9/26/2017 5:39,Not Retweeted,elonmusk,2017-09-26
18,Row18,#NAME?,9/26/2017 3:13,Not Retweeted,elonmusk,2017-09-26
19,Row19,Simulation of how the SpaceX Interplanetary Sp...,9/26/2017 3:11,Not Retweeted,elonmusk,2017-09-26
20,Row20,#NAME?,9/25/2017 21:33,Not Retweeted,elonmusk,2017-09-25
21,Row21,Major improvements & some unexpected applicati...,9/25/2017 13:15,Not Retweeted,elonmusk,2017-09-25
22,Row22,Presentation of @SpaceX Interplanetary Spacesh...,9/25/2017 13:12,Not Retweeted,elonmusk,2017-09-25
23,Row23,@USATODAYmoney @NathanBomey That's not a lot o...,9/24/2017 22:31,Not Retweeted,elonmusk,2017-09-24
24,Row24,"RT @MotorTrend: Shocking winner of our latest,...",9/22/2017 2:31,MotorTrend,elonmusk,2017-09-22
25,Row25,@Its_Subhamk Don't give up if the cause is imp...,9/20/2017 19:25,Not Retweeted,elonmusk,2017-09-20
26,Row26,#NAME?,9/19/2017 19:36,Not Retweeted,elonmusk,2017-09-19
27,Row27,#NAME?,9/16/2017 9:16,Not Retweeted,elonmusk,2017-09-16
28,Row28,@Bobby_Gupta Def not ok. Just sent a reminder ...,9/16/2017 5:16,Not Retweeted,elonmusk,2017-09-16
29,Row29,@rishabagrwl2013 In discussions with national ...,9/16/2017 3:28,Not Retweeted,elonmusk,2017-09-16

In [10]:
Tweet_data.dtypes

row ID          object
Tweet           object
Time            object
Retweet from    object
User            object
Date            object
dtype: object

In [11]:
clean_tweet_data = Tweet_data[["Tweet", "Retweet from", "User", "Date"]]

In [12]:
clean_tweet_data.head()

,Tweet,Retweet from,User,Date
0,@MeltingIce Assuming max acceleration of 2 to ...,Not Retweeted,elonmusk,2017-09-29
1,RT @SpaceX: BFR is capable of transporting sat...,SpaceX,elonmusk,2017-09-29
2,@bigajm Yup :),Not Retweeted,elonmusk,2017-09-29
3,Part 2 https://t.co/8Fvu57muhM,Not Retweeted,elonmusk,2017-09-29
4,Fly to most places on Earth in under 30 mins a...,Not Retweeted,elonmusk,2017-09-29

In [14]:
clean_tweet_data["Date"] = pd.to_datetime(clean_tweet_data["Date"])

Tweet                   object
Retweet from            object
User                    object
Date            datetime64[ns]
dtype: object

In [15]:
clean_tweet_data.dtypes

Tweet                   object
Retweet from            object
User                    object
Date            datetime64[ns]
dtype: object

In [19]:
TSLA_data["Date"] = pd.to_datetime(TSLA_data["Date"])

In [20]:
TSLA_data.dtypes

Date         datetime64[ns]
Open                float64
High                float64
Low                 float64
Close               float64
Adj Close           float64
Volume                int64
dtype: object